[Desktop Entry]
Type=Application
Name=Asteroids
Exec=asteroid-asteroids
Icon=asteroid-asteroids
X-Asteroid-Needs-Repaint=true
Comment=The classic Asteroids game
